---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Counters from '../components/Counters.astro'
import { Icon } from 'astro-icon'
---

<DefaultLayout title="Home">
  <Hero />

  <section >
    <div class="container">
      <h2 class="mb-16 text-6xl">Projects</h2>
    </div>
  </section>
  <ContentMedia imgSrc="/astro_blackboard_teaser.png" class="mb-64 mt-32" reverseImg>
    <h2>Rabbit AI Blackboard Pro</h2>
    <p class="text-2xl">
      Harness the full potential of your game's AI with Rabbit AI Blackboard Pro, a state-of-the-art blackboard system crafted for Unity developers. Built with precision and efficiency, this tool empowers you to create, manage, and enhance complex AI behaviors seamlessly.
    <div class="flex flex-col gap-3 min-[500px]:flex-row">
      <a class="button has-icon" href="https://assetstore.unity.com/packages/slug/285782" target="_blank">
        Pro on the Asset Store
      </a>
      <a class="button has-icon color-secondary" href="https://assetstore.unity.com/packages/slug/285810" target="_blank">
        Lite on Asset Store
      </a>
      <a
        class="button has-icon color-secondary"
        href="/projects/blackboard"
      >
        <Icon pack="ion" name="bookmark-outline" />
        Read more
      </a>
    </div>
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/astro_goap_teaser.png" class="mb-64 mt-32">
    <h2>Unity GOAP</h2>
    <p class="text-2xl">
      The GOAP implementation for Unity is a customizable tool that utilizes the GOAP technique to create intelligent agents in Unity games. It breaks down complex tasks into simpler actions, allows for dynamic plan adjustment, and enables developers to create NPCs with different personalities and behavior patterns.
      <div class="flex flex-col gap-3 min-[500px]:flex-row">
        <a class="button has-icon" href="https://github.com/crashkonijn/GOAP">
          <Icon pack="ion" name="star-outline" />
          Star on GitHub
        </a>
        <a
          class="button has-icon color-secondary"
          href="/projects/goap"
        >
          <Icon pack="ion" name="bookmark-outline" />
          Read more
        </a>
      </div>
    </p>
  </ContentMedia>
</DefaultLayout>
